{% extends "base.html" %}
{% load i18n %}
{% load static %}

<!-- Styles block to include additional CSS styles for the about page. -->
{% block styles %}
  <!-- Call the parent block to include base styles. -->
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'path/to/styles.css' %}">
{% endblock %}

{% block content %}
  <!-- Container for the main content with top margin. -->
  <div class="container mt-5">
    <h1 class="display-4 mb-4 title-primary center-text">{% trans 'About Our Music Store' %}</h1>

    <p class="lead center-text">{% trans 'Welcome to our music selling application! We are passionate about connecting music enthusiasts with their favorite tunes and supporting artists from around the world.' %}</p>
    <p class="center-text">{% trans 'At our music store, we strive to provide an exceptional experience for music lovers and creators alike. Explore our vast collection of high-quality tracks, discover new artists, and support independent musicians.' %}</p>
    <h2 class="mt-4 title-info center-text">{% trans 'Key Features' %}</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center">{% trans '🎵 Explore Our Vast Music Library' %}</li>
      <li class="list-group-item text-center">{% trans '🚀 Support Emerging Artists' %}</li>
      <li class="list-group-item text-center">{% trans '🎧 High-Quality Downloads for Audiophiles' %}</li>
    </ul>

    <h2 class="mt-4 title-success center-text">{% trans 'Our Mission' %}</h2>

    <p class="center-text">{% trans 'Our mission is to create a platform that empowers artists, fosters a vibrant music community, and brings joy to music enthusiasts worldwide.' %}</p>

    <p class="lead center-text">{% trans 'Thank you for being a part of our musical journey!' %}</p>
  </div>
{% endblock %}
