{% load static %}
{% load i18n %}

<!-- Header section with a flexible layout, alignment, and spacing. -->
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <!-- Logo and application name section (col-md-3). -->
    <div class="col-md-3 mb-2 mb-md-0">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

        <!-- Application logo and name with a link to the home page -->
        <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="bi me-2" src="{% static 'logo2.gif' %}" width="40" height="32">
            <span class="fs-4">{% trans 'AppName' %}</span>
        </a>
    </div>

    <!-- Navigation links section (col-12 col-md-auto). -->
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <!-- Navigation links for Contact, Albums, and About. -->
        <li><a href="{% url 'contact' %}" class="nav-link px-2">{% trans 'Contact' %}</a></li>
        <li><a href="{% url 'all_albums' %}" class="nav-link px-2">{% trans 'Albums' %}</a></li>
        <li><a href="{% url 'about' %}" class="nav-link px-2">{% trans 'About' %}</a></li>
    </ul>

    <!-- User authentication section (col-md-3 text-end). -->
    <div class="col-md-3 text-end">
        <!-- Conditional rendering of buttons based on user authentication status. -->
        {% if user.is_authenticated %}
            <a href="{% url 'page_account' %}" class="btn btn-outline me-2">{% trans 'Account' %}</a>
            <a href="{% url 'logout' %}" class="btn btn-outline-primary me-2">{% trans 'Logout' %}</a>
        {% else %}
        {% endif %}
    </div>
</header>